<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./styles.css")
  body
    section.product
      a(href="#").product__image
        img(src="img/sun-flower.jpeg", alt="plant" class="image")
      a(href="#").product__details
        p.product__name Sun Flower
        p.product__price $ 2.9
        p.product__desc Wonderfully, amazing sun flower
    section.product
      a(href="#").product__image
        img(src="img/plant.jpeg", alt="plant" class="image")
      a(href="#").product__details
        p.product__name Plant
        p.product__price $ 1.9
        p.product__desc Wonderfully, amazing plant
    section.product
      a(href="#").product__image
        img(src="img/pineapple.jpeg", alt="plant" class="image")
      a(href="#").product__details
        p.product__name Pineapple
        p.product__price $ 4.9
        p.product__desc Wonderfully, amazing pineapples                